.container--global__pdp {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.listItem--global__pdp__tab-layout :global(.vtex-button) {
    background-color: white;
    border: 0px;
    color: #666;
    font-size: 2rem;
    text-transform: capitalize;
    margin: 10px 20px;

}

.listItem--global__pdp__tab-layout :global(.vtex-button__label) {
    padding: 0px;

}

.listItem--global__pdp__tab-layout :global(.vtex-button):hover {
    border-bottom: 5px solid #005A9C;
    color: #005A9C;
}

.listItem--global__pdp__tab-layout {
    max-height: 60px;
}

.container--global__pdp {
    border-bottom: 2px solid #005A9C;
    margin-bottom: 2rem;
}