.link--global__footer__row1__col1--text {
  color: var(--secundary-color);
}
.wrapper--global__footer__row1__col1--text {
  margin-left: -25%;
}
.paragraph--global__footer__row1__col1--text {
  font-size: 0.9rem;
}
.link--global__footer__row2--text {
  color: var(--secundary-color);
  text-decoration: none;
}
.paragraph--global__footer__row2--text {
  margin-top: 3px;
  margin-bottom: 3px;
}

.link--global__footer__row2__col1--text1,
.link--global__footer__row2__col2--text1,
.link--global__footer__row2__col3--text1
 {
  color: var(--secundary-color);
  text-decoration: none;
}

.wrapper--global__footer__row2__col1--text1,
.wrapper--global__footer__row2__col2--text1,
.wrapper--global__footer__row2__col3--text1 {
  margin-bottom: 1rem;
}

.paragraph--global__footer__row2__col4--text1{
    color: var(--secundary-color);
    font-size: 0.7rem;
    margin: 0px;
}