.imageElement--global__footer__row2-1_col1--img1 {
  width: 100px;
}
.imageElement--global__footer__row2-1_col1--img2 {
  width: 120px;
}
.imageElement--global__footer__row2-1_col1--img3 {
  width: 140px;
}
.imageElement--global__footer__row2-1_col1--img4 {
  width: 50px;
}
.imageElement--global__footer__row2-1_col1--img5 {
  width: 140px;
}
.imageElement--global__footer__row2-1_col1--img6 {
  width: 30px;
}
.imageElement--global__footer__row2-1_col1--img7 {
  width: 160px;
}
