.flexRowContent--frequent-questions__row2{
flex-direction: column;
 max-width: 1350px;
 margin: 0 auto;
 padding: 0 50px;
}
/* mobile */

.flexRowContent--mobile__frequent-questions__row1__col1 :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
flex-direction: column;
padding: 10px;
}

.flexRowContent--mobile__frequent-questions__row1__col1{
 flex-direction: column;
}

.flexColChild--mobile__frequent-questions__row1__col1{
    cursor: pointer;
}