.container--global__frequent-questions--title {
    position: relative;
    background-color: #f4f3f3;
    height: 80px;

}

.paragraph--global__frequent-questions--title {
    position: relative;
    left: 60%;
    font-size: 2rem;
    font-weight: 300;
    line-height: 20px;
}

.paragraph--global__frequent-questions,
.listItem--global__frequent-questions {
    width: 100%;
    font-size: 0.8rem;
    font-weight: 100;
    color: rgb(132, 132, 132);
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 20px;
}

.wrapper--global__frequent-questions {
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 100;
    color: rgb(132, 132, 132);
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 20px;
}

.strong--global__frequent-questions,
.italic--global__frequent-questions {
    color: black;
    font-style: normal;
}

.link--global__frequent-questions {
    color: #005A9C;
    text-decoration: none;
    font-weight: 100;
}

/* mobile */

@media (max-width: 1024px) {
    .container--global__frequent-questions--title {
        height: 65px;

    }

    .paragraph--global__frequent-questions--title {
        left: 10%;
        font-size: 1.5rem;
    }

    .italic--global__frequent-questions {
        color: #1c5c92;
    }


}