.flexRowContent--minicart__footer {
    flex-direction: column;
    /* align-items: center; */
}

.flexRowContent--minicart__footer :global(.vtex-button) {
    width           : 300px;
    background-color: white;
    color           : var(--fourth-color);
    border          : 1px solid #333333;
    border-radius   : 5px;
}

/* estilos para menu categoria */

.flexRow--category__menu__row1{
width: 70% ;
justify-content: center;
}

.flexRowContent--category__menu__row1{
/* max-width: 60vw; */
justify-content: center !important;
align-items: flex-start;
} 

.flexRow--category__menu__row1 .flexColChild--category__menu__row1_col{
padding: 10px 0px;
}
