.container--global__mac--breadCrumb {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.paragraph--global__mac--breadCrumb {
    font-weight: 400;
    color: #005A9C;
    font-size: 0.9rem;
    margin-top: 2.5rem;
}

.paragraph--global__mac--title{
    font-size: 1.8rem;
}